<div>
    <div class="list-group" dragula-container>
        <a href="javascript:void(0)" class="list-group-item" ng-repeat="row in list track by row.id">
            <div class="row">
                <div class="col-xs-1">
                    <select ng-init="setupWatch(this)" ng-model="selected" ng-change="$parent.move(row.order, selected, this)">
                        <option ng-repeat="r in list" ng-selected="r.order === row.order" label="{{r.order+1}}" value="{{r.order}}">{{r.order+1}}</option>
                    </select>
                </div>
                <div class="col-xs-11"> {{row.text}} </div>
            </div>
        </a>
    </div>
	<div pi-quest-validation="model.$error.required">{{data.errorMsg.required || "Please respond to this question"}}</div>
	<div pi-quest-validation="model.$error.correct">{{data.errorMsg.correct || "You must answer the correct answer!"}}</div>
</div>
