<div ng-class="{'list-group':!data.buttons, 'btn-group btn-group-justified btn-group-lg':data.buttons}">
	<!-- track by in the ng-repeat allows us to keep the repeated object clean so that angular doesn't add a $$hashkey property -->
	<a
		tabindex="-1"
		ng-repeat="answer in quest.answers track by answer.order"
		ng-model="$parent.responseObj"
		btn-radio="answer"
		ng-class="{active:$parent.data.dflt === answer.value, 'list-group-item': !$parent.data.buttons, 'btn btn-success': $parent.data.buttons}"
		uncheckable
		ng-click="autoSubmit($event)"
		ng-bind-html="answer.text"
	></a>
</div>