
label {
	font-size: $font-size-large
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[unselectable="on"] {
	@include no-select();
}

[pi-quest] {
	position: relative;
}

[piq-page]{
	position: absolute;
	width: 100%
}