
label {
	font-size: $font-size-large
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[unselectable="on"] {
	@include no-select();
}

[pi-quest] {
	position: relative;
}

[piq-page]{
	position: relative;
	width: 100%;
	overflow: hidden;
}

[pi-quest-validation]{

	margin: 10px 0;

	.glyphicon {
		margin-right: 5px;
	}
}

[pi-console] {
	margin: 20px 0px;

	.pre a{
		white-space: pre;
		text-decoration:none
	}

	.alert span {
		margin-right:5px;
	}


}