<div ng-form name="pageForm" pi-timer>
	<h3 ng-if="page.header" ng-bind-html="page.header" ng-style="page.headerStyle"></h3>
	<div pi-timer="page.timer"></div>
	<div ng-if="page.progressBar" class="text-center" ng-bind-html="page.progressBar"></div>

	<div ng-bind-html="page.text"></div>
	<ol ng-class="{'list-unstyled':!page.numbered}" start="{{page.numberStart}}">
		<li ng-repeat="quest in page.questions">
			<div quest-wrapper quest-data="quest" quest-current="current"></div>
		</li>
	</ol>

	<div pi-quest-validation="pageForm.$error.pageValidation" pi-post-submit="submitAttempt">{{page.pageValidationText || 'Invalid page'}}</div>

	<div class="page-buttons">
        <span class="page-dummy-button"></span>
		<button
			ng-click="prev()"
			class="btn page-prev"
			ng-if="page.prev && page.$meta.number > 1"
		>{{page.prevText || "Go Back"}}</button>

		<button
			ng-click="decline($event)"
			class="btn page-decline"
			ng-if="page.decline"
		>{{page.declineText || "Decline"}}</button>

		<button
			ng-click="submit()"
			class="btn page-submit"
			ng-if="!page.noSubmit"
		>{{page.submitText || "Submit"}}</button>
	</div>
</div>
