<div ng-form class="table-responsive" ng-class="{'pi-page-submitted':$parent.$parent.submitAttempt}">
	<table class="table table-hover">
		<thead ng-if="!data.columnStemHide">
			<tr>
				<th ng-style="data.columnStemCss"></th>
				<th
					ng-repeat="column in columns"
					ng-bind-html="column.stem"
					ng-style="data.columnStemCss"
				></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="row in rows"
				quest-grid-row="row"
				quest-grid-data="data"
				ng-model="$parent.$parent.current.questions[row.name]"
				ng-required="{{data.required || row.required}}"
			></tr>
		</tbody>
	</table>
	<div pi-quest-validation="form.$error.required && $parent.$parent.submitAttempt">{{data.errorMsg.required || "This field is required!"}}</div>
</div>