<tr>
	<th
		scope="row"
		ng-if="!data.rowStemHide"
		ng-bind-html="row.stem"
		ng-style="data.rowStemCss"
	></th>
	<td ng-repeat="column in columns">
		<div ng-switch="column.type">
			<button
				class="btn btn-default"
				ng-switch-when="checkbox"
				btn-radio="row.reverse && !column.noReverse ? column.reverseValue : column.value"
				ng-model="$parent.$parent.response"
				ng-class="data.checkboxType"
				uncheckable
			></button>
			<div
				class="text"
				ng-switch-when="text"
				ng-bind-html="row[column.textProperty]"
			></div>
			<div
				class="grid-input input-group input-group-small"
				ng-switch-when="input"
                ng-init="response=''"
                title="insert your response"
			>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-edit" ng-class="{active:$parent.$parent.response===response}"></span>
                </span>
                <input type="text" class="form-control" ng-model="response" ng-change="$parent.$parent.response = response">
            </div>
            <div ng-switch-when="dropdown" ng-init="response=''"> 
                <select ng-model="response" ng-change="$parent.$parent.response = response" class="form-control">
                    <option value="" ng-selected="response===undefined">----</option>
                    <option ng-repeat="r in column.answers" ng-selected="r.value === $parent.$parent.response" value="{{r.value}}">{{r.text}}</option>
                </select>
            </div>
		</div>
		<div
			class="cell-labels"
			ng-if="data.cellLabels"
			ng-bind-html="column.stem"
		></div>
	</td>
</tr>
