<html>
	<head>
		<meta charset="UTF-8" />
		<title>Minno.js</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../assets/prism.css" rel="stylesheet" />
		<link href="../assets/style.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<section>
				<nav class="brand">
                    <a href="/"><h1>Minno</h1></a>
				</nav>
				<nav>
					<a href="/minno-quest/0.0/basics/overview.html">Basics</a>
					<a href="/minno-quest/0.0/manager/overview.html">miManager</a>
					<a href="/minno-quest/0.0/quest/overview.html">miQuest</a>
					<a href="/minno-time/0.0/time/overview.html">miTime</a>
				</nav>
				<nav>
                    <select id="version-select"><option value="0.0" selected>v0.0</option>,<option value="0.1" >v0.1</option></select>
					<a href="https://github.com/minnojs">Github</a>
				</nav>
			</section>
		</header>
		<main>
			<section class="docs">
                <h1><a name="a-hrefbodyawarenesshtmlbody-awarenessa" class="header-link" href="#a-hrefbodyawarenesshtmlbody-awarenessa"><span></span></a><a href="bodyAwareness.html">Body Awareness</a></h1><ul>
<li>Core<ul>
<li><a href="overview.html">Overview</a></li>
<li><a href="introduction.html">Introduction</a></li>
<li><a href="API.html">API</a></li>
<li><a href="playground.html">Playground</a></li>
</ul>
</li>
<li>Question types<ul>
<li><a href="text.html">Text</a></li>
<li><a href="textarea.html">Textarea</a></li>
<li><a href="textNumber.html">Text Number</a></li>
<li><a href="selectOne.html">Select One</a></li>
<li><a href="selectMulti.html">Select Multi</a></li>
<li><a href="grid.html">Grid</a></li>
<li><a href="slider.html">Slider</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="helloworld.html">Hello world</a></li>
<li><strong>Body Awareness</strong></li>
<li><a href="weight.html">Weight demo</a></li>
<li><a href="usingImages.html">Using Images</a></li>
<li><a href="buttons.html">Buttons</a></li>
<li><a href="buttonsAdvanced.html">Buttons Advanced</a></li>
<li><a href="buttonsOnePage.html">Buttons One Page</a></li>
<li><a href="dependency.html">Dependency</a></li>
<li><a href="liveDependency.html">Live Dependency</a></li>
<li><a href="gridExample.html">Grid</a></li>
<li><a href="timer.html">Timer</a></li>
<li><a href="openEnded.html">Open Ended</a></li>
<li><a href="openEndedLong.html">Open Ended Long</a></li>
<li><a href="rateImages.html">Rate Images</a></li>
<li><a href="rateImagesSizes.html">Rate Images Sizes</a></li>
<li><a href="scaleWithFeedback.html">Scale With Feedback</a></li>
<li><a href="sliderExample.html">Slider</a></li>
<li><a href="userPrevResp.html">User Prev Resp</a></li>
<li><a href="nfc.html">Agreement scale</a></li>
</ul>
</li>
</ul>
<section playground>
    <div class="buttons">
        <a class="activate-button">Activate</a>
        <a class="download-button" href="bodyAwareness.js" download>Download</a>
    </div>
    <div class="editor">define(['questAPI'],function(Quest){
	var API = new Quest();


	// ### Questions

	// Create the generic question template:
	// * `autoSubmit`: submit when an answer is clicked twice.
	// * `answers`: the text for all answers (in our case only the questions change...)
	// * `help`: add help text (only for the first three questions presented).
	API.addQuestionsSet('basicSelect', {
		type: 'selectOne',
		autoSubmit:true,
		numericValues:true,
		answers: [
			"1- Not at all true about me",
			"2",
			"3",
			"4",
			"5",
			"6",
			"7 - Very true about me"
		],
		help: '<%= pagesMeta.number < 3 %>',
		helpText: 'Selecting an answer once colors it blue.<br/>' +
			'You can change your answer by selecting another option.<br/>' +
			'To confirm, click the selected (blue) button a second time.'
	});

	// Create a set with all the questions that we are going to use.
	// Each questions `inherit`s our *basicSelect*, sets a `name` and sets the questions text (`stem`).
	API.addQuestionsSet('baQuestions', [
		{
			inherit : 'basicSelect',
			name : 'ba1',
			stem : "I notice differences in the way my body reacts to various foods."
		},
		{
			inherit : 'basicSelect',
			name : 'ba2',
			stem : "I can always tell when I bump myself whether or not it will become a bruise."
		},
		{
			inherit : 'basicSelect',
			name : 'ba3',
			stem : "I always know when I've exerted myself to the point where I'll be sore the next day."
		},
		{
			inherit : 'basicSelect',
			name : 'ba4',
			stem : "I'm always aware of changes in my energy level when I eat certain foods."
		},
		{
			inherit : 'basicSelect',
			name : 'ba5',
			stem : "I know in advance when I'm getting the flu."
		},
		{
			inherit : 'basicSelect',
			name : 'ba6',
			stem : "I know I'm running a fever without taking my temperature."
		},
		{
			inherit : 'basicSelect',
			name : 'ba7',
			stem : "I can distinguish between tiredness because of hunger and tiredness because of lack of sleep."
		},
		{
			inherit : 'basicSelect',
			name : 'ba8',
			stem : "I can accurately predict what time of day lack of sleep will catch up with me."
		},
		{
			inherit : 'basicSelect',
			name : 'ba9',
			stem : "I am aware of a cycle in my activity level throughout the day."
		},
		{
			inherit : 'basicSelect',
			name : 'ba10',
			stem : "I <b>don't</b> notice seasonal rhythms and cycles in the way my body functions."
		},
		{
			inherit : 'basicSelect',
			name : 'ba11',
			stem : "As soon as I wake up in the morning I know how much energy I'll have during the day."
		},
		{
			inherit : 'basicSelect',
			name : 'ba12',
			stem : "I can tell when I go to bed how well I will sleep that night."
		},
		{
			inherit : 'basicSelect',
			name : 'ba13',
			stem : "I notice distinct body reactions when I am fatigued."
		},
		{
			inherit : 'basicSelect',
			name : 'ba14',
			stem : "I notice specific body responses to changes in the weather."
		},
		{
			inherit : 'basicSelect',
			name : 'ba15',
			stem : "I can predict how much sleep I will need at night in order to wake up refreshed."
		},
		{
			inherit : 'basicSelect',
			name : 'ba16',
			stem : "When my exercise habits change, I can predict very accurately how that will affect my energy level."
		},
		{
			inherit : 'basicSelect',
			name : 'ba17',
			stem : "There seems to be a best time for me to go to sleep at night."
		},
		{
			inherit : 'basicSelect',
			name : 'ba18',
			stem : "I notice specific bodily reactions to being overhungry."
		}
	]);


	// ### Pages
	// Create the generic pages template:
	// * `decline`: allow participants to decline answering
	// * `noSubmit`: do not display the submit button (we rely on `autoSubmit` for submitting)
	API.addPagesSet('basicPage', {
		progressBar: '<%= pagesMeta.number %> out of 18',
		header: 'Please rate your agreement with the following statement',
		headerStyle : {'font-size':'1em'},
		questions : {inherit:{set:'baQuestions', type:'exRandom'}},
		decline:true,
		noSubmit:true
	});



	// ### Sequence
	// We use a simple mixer here to repeat a simple page that inherits from the basicPage.
	// The basic page randomly inherits a question, therfore we get a different question for every page.
	// We use exRandom in the basicPage page so that questions don't randomly appear more than once.
	API.addSequence([
		{
			mixer : 'repeat',
			times : 18,
			data : [
				{inherit : 'basicPage'}
			]
		}
	]);


	// Return the script to piquest's god, or something of that sort.
	return API.script;
});</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" integrity="sha256-xrr4HH5eSY+cFz4SH7ja/LaAi9qcEdjMpeMP49/iOLs=" crossorigin="anonymous"></script>
<script src="../assets/playground.js"></script>

				<hr />
				<small>License: Apache 2. &copy; Project Implicit. &middot; Current version [version]</small>
			</section>
		</main>
		<script src="../assets/prism.js"></script>
        <script>
            (function(){
                var select = document.getElementById('version-select');
                select.addEventListener('change', function(event){
                    var version = event.target.value;
                    location.href = location.href.replace(/[0-9]\.[0-9]/, version)
                });
            })();
        </script>
	</body>
</html>
