<p>Next, we will show you a few images and ask you how feel about each of the images.There are no right or wrong answers. We are interested in your true opinions.</p><div style="display:none">	<img src='/images/bunny.jpg'/>	<img src='/images/snake.jpg'/>	<img src='/images/seal.jpg'/>	<img src='/images/shark.jpg'/></div>