<div ng-form name="pageForm">
	<h2 ng-if="page.header">{{page.header}}</h2>
	<ol>
		<li ng-repeat="quest in page.questions">
			<div ng-switch="quest.type || 'text'">
				<div ng-switch-when="text">
					<input quest-wrapper quest-text quest-data="quest">
				</div>
				<div ng-switch-when="textNumber">
					<input quest-wrapper quest-text-number quest-data="quest">
				</div>
			</div>
		</li>
	</ol>

	<div class="btn-group pull-right">
		<button
			ng-click="submit()"
			data-role="submit"
			class="btn btn-primary"
			ng-class="form"
			ng-disabled="pageForm.$invalid"
		>Submit</button>

		<button
			ng-click="submit(true)"
			data-role="submit"
			class="btn btn-warning"
			ng-class="form"
			ng-if="page.decline"
		>Decline to Answer</button>
	</div>


</div>