<div class="jumbotron">
  <h2>{{ heading }}</h2>
  <p>{{ text }}</p>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-lg btn-block" ng-click="choose(true)"> {{ yesText }} </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-lg btn-block" ng-click="choose(false)"> {{ noText }} </button>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>
