<div class="panel-heading">
    <strong><%= log.message %>:</strong> 
    <button type="button" class="close">&times;</button>

    <% if (log.error) { %>
        <div><%= log.error.message %></div>
    <% } %>
</div>

<% if (log.context) { %>
    <div class="panel-body">
        <strong>Context:</strong>
        <pre><%= syntaxHighlight(log.context) %></pre>
    </div>
<% } %>

<% if (log.rows) { %>
    <ul class="list-group">
        <% var rows = log.rows.map(function(r){ return [].concat(r); }); %>
        <% for (var i=0;i<rows.length;i++) { %>
        <li class="list-group-item">
            <%= rows[i].map(syntaxHighlight).join('&nbsp;') %>
        </li>
        <% } %>
    </ul>
<% } %>
