[pi-quest] {
	.form-group > label {
		font-size:1.2em; 
		font-weight:normal;
	}
}

[pi-quest-validation]{
	margin: 10px 0;

	.glyphicon {
		margin-right: 5px;
	}
}

// ripped off regular buttons and group-list-item for conformity with the list style
[quest-select-one] .btn-select, [quest-select-multi] .btn-select {
	background-color: #fff;
	border-color: #ccc;
	color: #333;

	&:hover {
		color: #555;
		background-color: #f5f5f5;
		text-decoration: none;
	}

	&:active, &.active {
		color: #fff;
		background-color: #337ab7;
		border-color: #337ab7;
	}
}

[quest-grid], [quest-multi-grid]{
	table {
		table-layout: fixed;
	}

	thead th, td {
		text-align:center;
	}

	&.pi-page-submitted tr.ng-invalid-required, &.pi-page-submitted tr.ng-invalid-pattern {
		background-color: #f2dede;
	}

	.text {
		margin: 1px; // same as the button border
		padding: $padding-base-vertical $padding-base-horizontal;
		line-height: $line-height-base;
	}

	.btn:before {
		@extend .glyphicon;
		@extend .glyphicon-ok;
		visibility: hidden;
	}


	.colorMark.btn.active{
			&:before{
				visibility: hidden
			}

			background-color: #337ab7;
			border-color: #337ab7;
			color: #fff;

	}

	.xMark.btn:before {
		@extend .glyphicon-remove;
	}

	.btn.active:before {
		visibility: visible;
	}

    .grid-input .input-group-addon {
        background : #e6e6e6;

        .glyphicon.active {
            font-weight: bold;
            font-color: black;
        }
    }
}

[dragula-container] > * {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.gu-mirror { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

[piq-page] > [pi-quest-validation] {margin:15px;}
