// This is the default skin, we separatae it into a skin of its own so that some unusual effects can be easily separated out...
.default-skin [piq-page] .page-buttons , .demo-skin [piq-page] .page-buttons {
	.page-submit {
		padding: 10px 0;
		font-size: 1.6em;
		line-height: 1.3333333;
		border-radius: 6px;
		width:30%;
	}

	.page-decline, .page-prev {
		position:absolute; 
		right:15px; 
		margin:8px 0;
	}
}

// there is a bug with @at-root in sass so we do this manually
[dir="rtl"] .default-skin [piq-page] .page-buttons .page-decline, 
[dir="rtl"] .default-skin [piq-page] .page-buttons .page-prev, 
[dir="rtl"] .demo-skin [piq-page] .page-buttons .page-decline,
[dir="rtl"] .demo-skin [piq-page] .page-buttons .page-prev { right: auto; left: 15px; }

.simple-skin [piq-page] .page-buttons {
	text-align:right;
    @at-root [dir="rtl"]#{&} { text-align: left; }

	.page-submit {
	}

	.page-decline, .page-prev {
	}
}
