$slider-bg: #3B4A5E;
$slider-highlight: #5bc0de;
$slider-handle: #9DA8B7;
$slider-height: 20px;
$slider-bar-height: $slider-height / 4;

.slider-label-left {
  float: left;  text-transform: capitalize;
  margin: 0;
  font-size: 16px;
  font-family: Arial;
}

.slider-label-right {
  @extend .slider-label-left;
  float: right;
}

.slider-container {
  clear: left;
  height: $slider-height;
  margin-right: $slider-height;
  position: relative;
}

.slider-bar {
  height: $slider-bar-height;
  background: $slider-handle;
  margin-top: $slider-bar-height / -2;
  margin-left:  $slider-height / 2;
  margin-right:  $slider-height / 2;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 50%;
}

.slider-bar-highlight {
  @extend .slider-bar;
  background: $slider-highlight;
}

// .slider-handle {
//   height: $slider-height;
//   width: $slider-height;
//   border-radius: 50%;
//   background: $slider-bg;
//   position: absolute;
//   cursor: pointer;
//   top: 0;
// }

.slider-handle {
  height: $slider-height;
  width: $slider-height;
  border-radius: 50%;
  position: absolute;
  cursor: move;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAGFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWNxwqAAAAB3RSTlMA41r7rZcIBwufZAAAAFdJREFUCNdjYGBgUxE2dEpgAAHFciAQArFYy8EgAMgMhzBLGRiYyqFAgSERxhRjUIcxixjcYcwSBnEYs5DBHMYsRmYiFCBrQxiGbAXCYoRzUB2JcDrCQwBDe0aHCiFO8QAAAABJRU5ErkJggg==);
  top: 0;
  z-index: 99;
}

.slider-ticks {
  .slider-label-left, .slider-label-right {
    margin-bottom: $slider-height/2;
  }
  .slider-container {
    margin-bottom: $slider-height/2;

    &:before {
        border-left: 2px solid black;
        border-right: 2px solid black;
        content: '';
        position: absolute;
        width: 100%;
        margin-left:  ($slider-height / 2);
        height: 2 * $slider-height;
        top: -$slider-height / 2;
        padding:1px;
        z-index: 1;
        box-sizing:border-box;
    }

    &:after {
        border-right: 2px solid black;
        content: '';
        position: absolute;
        width: 50%;
        margin-left:  ($slider-height / 2);
        height: 1.5 * $slider-height;
        top: -$slider-height / 4;
        z-index: 1;
        box-sizing:border-box;
        left: 1px; // account for border width
    }
  }
}

.slider-pips {
  margin: 0;
  padding: 0 $slider-height/2;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
    position: relative;
    height: .64em;
    top: -.64em;

    &:before, &.last:after {
      border-left: 1px solid #ccc;
      content: '';
      position: absolute;
      height: .64em;
      top: .64em;
    }

    &.last:after{
      right:0;
    }

  }
}

.slider-labels {
  color: #A9A9A9;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  li {
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
    position: relative;
    text-align: center;

    &.first{
      text-align: left;
    }

    &.last{
      text-align: right;
    }

  }

}